<h1>
    About Volunteer Connect
</h1>
<div class="image-design">
    <img alt="Volunteer Connect" src="../../images/1698937856733four.JPG">
</div>

<div class="mainContainer">
    <!-- Text Column -->
    <div class="text-column">
        <h6> WHO WE ARE? </h6>
        <h3>Land Acknowledgement</h3>
        <p>
            Volunteer Connect York Region acknowledges that the land on which we operate is the traditional
            territory of many nations including the Mississaugas of the Credit, the Anishnabeg, the Chippewa,
            the Haudenosaunee, and the Wendat peoples, and is now home to many diverse First Nations, Inuit,
            and Métis peoples. We also acknowledge that Markham, Richmond Hill, and Vaughan are covered by
            Treaty 13 with the Mississaugas of the Credit and the Williams Treaties signed with multiple
            Mississaugas and Chippewa bands.
        </p>

        <h3>About Us</h3>
        <p>
            At Volunteer Connect, we strive to connect our community members with programs, services and
            opportunities that helps them to contribute and make meaningful connections that foster inclusion
            and a sense of belonging. We embrace and reflect the rich and diverse composition of the York region community.
        </p>

        <h3>Our Mission</h3>
        <p>
            We provide south York Region residents and volunteer organizations with leadership and resources
            to promote volunteerism and enrich the lives of those in our community.
            Volunteer Connect’s Registered Charitable Number: 118968338 RR0001
            pexels-mikhail-nilov-8543581
        </p>

        <h3>Our Vision</h3>
        <p>
            An engaged and caring York Region where our youth become volunteers for life and residents are
            engaged in the community.
        </p>
    </div>

    <div class="image-column">
        <img src="../../images/1726153351386.jpg" alt="Volunteer image">
    </div>
</div>

<div class="secondContainer">
    <div class="design-column">
        <h2> Our value</h2>
        <i class="fa-solid fa-minus"></i>

        <p>These are the 5 core values<br>
            at Volunteer Connect that<br>
            drive our work and help us to<br>
            deliver on our mission.</p>
    </div>
    <div class="design-column">
        <i class="fa-regular fa-handshake"></i>
        <h3>Collaboration</h3>
        <p>Working together to support<br>
            volunteerism.</p>
    </div>
    <div class="design-column">
        <i class="fa-solid fa-heart-circle-check"></i>
        <h3>Respect</h3>
        <p>Recognizing diverse views<br>
            and experiences.</p>
    </div>
    <div class="design-column">
        <i class="fa-solid fa-hand-holding-heart"></i>
        <h3>Caring</h3>
        <p>Fostering an empathetic<br>
            culture that builds trust and<br>
            produces exceptional results.</p>
    </div>
    <div class="design-column">
        <i class="fa-regular fa-thumbs-up"></i>
        <h3>Excellence</h3>
        <p>Striving to go above<br>
            and beyond to provide the best<br>
            possible volunteer<br>
            experience.</p>
    </div>
    <div class="design-column">
        <i class="fa-solid fa-hands-holding"></i>
        <h3>Inclusion</h3>
        <p>Creating a welcoming<br>
            atmosphere for every citizen<br>
            for a better, more connected<br>
            York Region.</p>
    </div>
</div>

<button id="back-to-top" class="btn btn-primary">Back to Top</button>
