 <h1 class="mt-4">
        Contact Us
    </h1>

    <!-- Contact form -->
    <form class="col-lg-6 col-md-10 col-sm-12 mb-4">
        <!-- Name input field -->
        <div class="input-group mb-3">
            <span class="input-group-text">Name: </span>
            <input id="fullName" name="name" type="text" class="form-control"
                   aria-describedby="Name" aria-label="Name" required>
        </div>

        <!-- Email input field -->
        <div class="input-group mb-3">
            <span class="input-group-text">Email Address: </span>
            <input id="emailAddress" name="email" type="email" class="form-control"
                   aria-describedby="Email" aria-label="Email" required>

        </div>

        <!-- Subject input field -->
        <div class="input-group mb-3">
            <span class="input-group-text">Subject: </span>
            <input id="subject" name="subject" type="text" class="form-control"
                   aria-describedby="subject" aria-label="subject" required>
        </div>

        <!-- Message input field -->
        <div class="input-group mb-3">
            <span class="input-group-text">Message: </span>
            <textarea id="message" name="message" type="text"  class="form-control"
                      aria-describedby="Message Area" aria-label="Message Area"></textarea>

        </div>
        <br>

        <!-- Submit button -->
        <button type="submit" class="btn btn-primary" style="background-color: black; border-color: black">Submit</button>
        <div class="col-lg-4 col-md-6">
            <a href="/contact-feedback" class="btn btn-outline-primary mt-4" id="enter-feedback"><i class="fa-solid fa-users"></i>Enter Feedback</a>
        </div>
    </form>
    <!-- Success message -->
    <p id="success-message"  class="success-message">Thank You for your submission!</p>


